{#

* This file is part of the project by AGBOKOUDJO Franck.
 *
 * (c) AGBOKOUDJO Franck <internationaleswebservices@gmail.com>
 * Phone: +229 01 67 25 18 86
 * LinkedIn: https://www.linkedin.com/in/internationales-web-apps-services-120520193/
 * Github: https://github.com/Agbokoudjo/
 * Company: INTERNATIONALES WEB APPS & SERVICES
 *
 * For more information, please feel free to contact the author.

#}

{% extends base_template %}
{% block sonata_nav %}{% endblock sonata_nav %}

{% block favicon %}
    <link rel="icon" href="{{ asset(sonata_config.logo) }}" width="100" height="100">
{% endblock %}

{% block sonata_left_side %}{% endblock %}
 {% block sonata_header %}{% endblock %}
{% block body_attributes %}class="sonata-bc login-page {% if _use_icheck %}sonata-icheck{% endif %}"{% endblock %}
{% block stylesheets %}  
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{{asset('styles/login.css')}}">
  {% endblock %}
{% block sonata_footer %} {% endblock %}
{% block title %}
    {{ "title_user_edit_authentication" |trans({}, 'SonataUserBundle',app.locale) }}
{% endblock %}
{% block javascripts_inline %}{% endblock %}
{% block javascript_inline %}{% endblock %}
{% block javascripts %}
      {{ parent() }}
     {% block importmap %}{{ importmap('login') }}{% endblock %}
{% endblock %}

{% block sonata_wrapper %}
   <div class="login-box">
        {% block login_box_header %}
            <div class="login-header">
                {% if 'icon' == sonata_config.getOption('logo_content') or 'all' == sonata_config.getOption('logo_content') %}
                    <div class="login-logo">
                        <img  src="{{ asset(sonata_config.logo) }}" alt="{{ sonata_config.title }}" class="img-fluid">
                    </div>
                {% endif %}
                {% if 'text' == sonata_config.getOption('logo_content') or 'all' == sonata_config.getOption('logo_content') %}
                        <h1 class="login-brand">{{ sonata_config.title }}</h1> 
                {% endif %}
                <p class="login-box-msg subtitle">{{ 'title_user_authentication'|trans({}, 'SonataUserBundle',app.locale) }}</p>
            </div>
        {% endblock %}
        <div class="login-box-body">
            {% block sonata_user_login_form %}
                {% block sonata_user_login_error %}
                    {% if error %}
                        <div class="alert alert-danger alert-error">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                {% endblock %}
                
                <form action="{{ path("app_admin_user_login") }}" 
                      method="post" 
                      role="form" 
                      class="form-validate"
                      name="login_form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <div class="form-group has-feedback">
                        <label for="email">{{ 'form.label_email_admin'|trans({}, 'SonataUserBundle') }}</label>
                        <div class="input-icon">
                            <input class="form-control"
                                id="email"
                                name="email"
                                placeholder="admin@orindafrica.com"
                                required="required"
                                type="email"
                                data-type="email"
                                data-allow-quoted-local="false"
                                value="{{ last_username }}"
                                maxlength="200"
                                minlength="6"
                                data-host-whitelist="gmail.com"
                                data-event-validate-blur="blur"
                                data-event-validate-input="input"
                                />
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="password">{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}</label>
                        <div class="input-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                            <input class="form-control"
                                id="password"
                                name="password"
                                placeholder="......"
                                required="required"
                                type="password"
                                autocomplete="current-password"
                                maxlength="255"
                                minlength="16"
                                data-event-validate-blur="blur"
                                data-event-validate-input="input"
                                data-enable-scoring="false"
                                data-custom-upper-regex="[\p{Lu}]"
                                data-custom-lower-regex="[\p{Ll}]"
                                data-custom-number-regex="[\p{N}]"
                                data-custom-symbol-regex="[\p{S}\p{P}]"
                                data-custom-special-char-regex="[\p{S}\p{P}\s]"
                                data-custom-punctuation-regex="[\p{P}]"
                                data-pattern="^[\p{L}\p{N}\p{M}\p{S}\p{P}\s]+$"
                            />
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 2rem;">
                        <button type="submit" name="submit" class="btn btn-primary btn-block btn-flat">
                            {{ 'security.login.submit'|trans({}, 'SonataUserBundle') }}
                        </button>
                    </div>
                 </form>
            {% endblock %}
        </div>
        <div class="login-box-footer">
            <p>© {{ 'now'|date('Y', 'UTC') }} {{NAME_SITE}}- Services Numériques</p>
        </div>
    </div>
{% endblock sonata_wrapper %}

